.products {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: repeat(1, auto);
    padding: 25px;
  }
}
