.products {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.product {
  display: grid;
  position: relative;
  padding: 30px;
  background: var(--white);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  height: 294px;
}

.img {
  display: grid;
  width: 146.74px;
  height: 142.48px;
  justify-self: center;
}
.price {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  color: var(--primary);
  margin-bottom: 0px;
}
.title {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--black);
  margin-bottom: 1px;
  margin-top: 1px;
}

.category {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: var(--black);
  opacity: 0.3;
  margin-top: 1px;
  margin-bottom: 5px;
}

/* .description {
} */
