.Loading {
  position: absolute;
  width: 140px;
  height: 35px;
  left: 499px;
  top: 432px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  align-items: center;
  color: var(--primary);
}
