.my-cart-container {
  padding: 35px;
  display: grid;
  justify-content: center;
  align-content: start;
  justify-items: center;
}

.cart-word {
  width: 77px;
  height: 25px;
  left: 80px;
  top: -5px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: var(--accent);
  display: grid;
  place-content: center;  
}

.amount {
  height: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */
  color: var(--black);
}

.no-products {
  width: 195px;
  height: 42px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0.5;
  color: var(--white);
  padding-top: 100px;
  padding-bottom: 100px;
}

.line {
  width: 245px;
  height: 0px;
  top: 350px;
  background: var(--white);
  opacity: 0.5;
  border-bottom: 0.5px solid var(--white);
  transform: rotate(180deg);
}

.total {
  width: 34px;
  height: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--white);
  opacity: 0.5;
}

.price {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: var(--white);
}

.pay-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--black);
  background: var(--bg);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
}

.pay-btn {
  opacity: 0.5;
}
