.my-cart-container {
  display: grid;
  padding: 35px;
  justify-content: center;
  align-content: start;
  justify-items: center;
  overflow: hidden;
  overflow-y: auto;
}

.cart-word {
  display: flex;
  color: var(--white);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  padding-bottom: 15px;
}
.circle {
  background: var(--accent);
  display: grid;
  width: 40px;
  height: 40px;
  place-content: center;
  border-radius: 50px;
}

.amount {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}

.no-products {
  display: flex;
  opacity: 0.5;
  color: var(--white);
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
}
.list-of-products {
  display: grid;
  grid-template-columns: repeat(1, auto);
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.product-cart {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  padding: 10px;
}

.image-container-cart {
  display: grid;
  background: var(--white);
  border: 1px solid var(--white);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px;
  justify-self: center;
}
.image-container-cart:hover {
  background: var(--alert);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.with-background-image-cart {
  padding: 17px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30px;
}
.image-container-cart:hover .with-background-image-cart {
  opacity: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 9px;
  color: var(--white);
}
.image {
  width: 100%;
}

.count {
  display: flex;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  color: var(--white);
  opacity: 0.5;
}
.title-cart {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  color: var(--white);
  align-items: center;
  margin-left: 3px;
}
.price-cart {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: var(--white);
  opacity: 0.5;
  align-items: center;
}

.line {
  background: var(--white);
  width: 245px;
  height: 0px;
  opacity: 0.5;
  border-bottom: 0.5px solid var(--white);
}

.total {
  display: flex;
  color: var(--white);
  opacity: 0.5;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding-right: 200px;
  padding-top: 15px;
}
.total-price {
  display: flex;
  color: var(--white);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  padding-left: 170px;
}

.pay-btn {
  display: flex;
  color: var(--black);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  background: var(--bg);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  padding: 10px 105px;
  margin-top: 55px;
}

.pay-btn {
  opacity: 0.5;
}
