@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --black: #1c0000;
  --bg: #faf8f3;
  --white: #ffffff;
  --primary: #27b1be;
  --accent: #fabc41;
}

.main-container {
  height: 100vh;
  padding: 10px;
  background: var(--black);
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.content-container {
  background: var(--bg);
  position: absolute;
  padding: 10px;
  border-radius: 25px;
  overflow: hidden;
  overflow-y: auto;
  width: 1114px;
  height: 880px;
  left: 10px;
  top: 10px;
}

.header {
  width: 211px;
  height: 35px;
  left: 45px;
  top: 55px;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  color: var(--black);
}
.number {
  position: absolute;
  width: 49px;
  height: 35px;
  left: 268px;
  top: 55px;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  color: var(--black);
  opacity: 0.3;
}

/* .products {
  position: absolute;
  width: 1053.76px;
  height: 926px;
  left: 44px;
  top: 132px;
}

.product {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: var(--white);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.img {
  position: absolute;
  left: 19.64%;
  right: 19.64%;
  top: 7.69%;
  bottom: 43.85%;
   background: url(.jpg); 
}
.price {
  position: absolute;
  left: 6.07%;
  right: 11.07%;
  top: 64.28%;
  bottom: 23.81%;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  color: var(--primary);
}

title {
  position: absolute;
  left: 6.07%;
  right: 4.29%;
  top: 77.69%;
  bottom: 12.56%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: var(--black);
}
.category {
  position: absolute;
  left: 6.07%;
  right: 4.29%;
  top: 87.44%;
  bottom: 2.82%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: var(--black);
  opacity: 0.3;
}

.description {
} */

.my-cart-container {
  position: absolute;
  width: 270px;
  height: 505px;
  left: 1168px;
  top: 63px;
}

.cart-word {
  position: absolute;
  width: 77px;
  height: 25px;
  left: 80px;
  top: -5px;
  /* left: 1251px;
  top: 63px; */
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  /* white */
  color: var(--white);
}

.circle {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  left: 100px;
  top: 60px;
  /* left: 1270px;
  top: 112px; */

  /* accent */
  background: var(--accent);
}

.amount {
  position: absolute;
  width: 13px;
  height: 25px;
  left: 13px;
  top: 7px;
  /* left: 1284px;
  top: 118px; */
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */
  display: flex;
  align-items: center;
  /* black */
  color: var(--black);
}

.no-products {
  position: absolute;
  width: 195px;
  height: 42px;
  left: 30px;
  top: 170px;
  /* left: 1191px;
  top: 256px; */

  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0.5;
  /* white */
  color: var(--white);
}

.line {
  position: absolute;
  width: 245px;
  height: 0px;
  top: 350px;
  /* left: 1413px;
  top: 419px; */

  /* white */
  background: var(--white);
  opacity: 0.5;
  border-bottom: 0.5px solid var(--white);
  /* border: 1px solid #FFFFFF; */
  transform: rotate(180deg);
}

.total {
  position: absolute;
  width: 34px;
  height: 16px;
  top: 365px;
  left: 16px;
  /* left: 1181px;
  top: 445px; */
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  /* white */
  color: var(--white);
  opacity: 0.5;
}

.price {
  position: absolute;
  left: 65.06%;
  right: 0.14%;
  top: 73.11%;
  bottom: 48.33%;
  /* left: 93.06%;
  right: 0.14%;
  top: 49.11%;
  bottom: 48.33%; */
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  /* white */
  color: var(--white);
}
.pay-btn {
  position: absolute;
  /* left: 81.6%;
  right: 2.01%;
  top: 58.67%;
  bottom: 36.89%; */
  width: 236px;
  height: 40px;
  top: 470px;
  left: 12px;
  /* left: 1175px;
  top: 528px; */

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* black */
  color: var(--black);
  /* bg */
  background: var(--bg);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  opacity: 0.5;
}
