.main-container {
  height: 100vh;
  padding: 10px;
  background: #1c0000;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.content-container {
  background: #faf8f3;
  padding: 10px;
  border-radius: 25px;
  overflow: hidden;
  overflow-y: auto;
}
